body {
  background-color: #101010;
  color: #fff;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
}

button {
  border: none;
  font-size: 20px;
}

.btn {
  padding: 5px;
  border-radius: 7px;
  background-color: #ffdd40;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #e7d47d;
}

.btn-done {
  border-radius: 5px;
  margin-right: 10px;
  padding: 3px 5px;
  background-color: #0BDA51;
  cursor: pointer;
}
.btn-done:hover {
  background-color: #29ba5a;
}

.btn-remove {
  border-radius: 5px;
  padding: 3px 5px;
  background-color: #c52e34;
  cursor: pointer;
}
.btn-remove:hover {
  background-color: #c55458;
}

.item {
  display: flex;
  justify-content: space-between;
}
.item:not(:last-child) {
  margin-bottom: 15px;
}

.item-text {
  margin-right: 30px;
}

.item-done {
  text-decoration: line-through;
}

.btn-box {
  margin-bottom: 5px;
}